<a href="https://colab.research.google.com/github/davidyr23/Fisicacomputacional1/blob/master/Actividad_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Actividad 3 del curso de Física Computacional 1**

Primero importamos la biblioteca Numpy y Pandas, primero creamos una variable 
donde guardamos nuestra dirección URL, donde se encuentran los datos que vamos a utilizar. Creamos un DataFrame **df** que se alimenta de nuestro archivo en la dirección URL, como no conocemos la cantidad de renglones que no nos interesan, imprimimos el encabezado y final del dataframe utilizamos las operaciones **df.head** y **df.tail** para visualizar mejor la cantidad de renglones que vamos a omitir de manera que solamente estaremos trabajando con los datos relevantes.

In [2]:
import numpy as np
import pandas as pd

url = "https://raw.githubusercontent.com/davidyr23/Fisicacomputacional1/master/Actividad1/climatologiaBadiraguato.txt"

df_badiraguato = pd.read_csv(url)

print(df_badiraguato.head(20))
print(df_badiraguato.tail())

                     CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
0                         BASE DE DATOS CLIMATOLOGICA
1   DATOS DISPONIBLES EN LA BASE DE DATOS A MARZO ...
2                                   ESTACION  : 25110
3                       NOMBRE    : BADIRAGUATO (DGE)
4                                 ESTADO    : SINALOA
5                             MUNICIPIO : BADIRAGUATO
6                                SITUACI�N : OPERANDO
7                             ORGANISMO : CONAGUA-DGE
8                                    CVE-OMM   : Nulo
9                                LATITUD   : 025.342�
10                              LONGITUD  : -107.543�
11                               ALTITUD   : 191 msnm
12                            EMISION   : 06/04/2020
13                         PRECIP  EVAP   TMAX   TMIN
14                FECHA     (MM)   (MM)   (�C)   (�C)
15               01/01/1960  0     Nulo   Nulo   Nulo
16               02/01/1960  0     Nulo   Nulo   Nulo
17               03/01/1960  6     Nulo   Nulo   Nulo
18               04/01/1960  30    Nulo   Nulo   Nulo
19               05/01/1960  0     Nulo   Nulo   Nulo
             CNA-SMN-CG-GMC-SMAA-CLIMATOLOGIA
19194    27/04/2018  0     Nulo    39     15
19195    28/04/2018  0     Nulo    36     16
19196    29/04/2018  0     Nulo    36     16
19197    30/04/2018  0     Nulo    37     13
19198  --------------------------------------

Ahora sabemos que tenemos que omitir los primeros 15 renglones y el último renglón ya que no son datos relevantes, también generamos una lista con los nombres de las columnas que conforman nuestros datos.

In [4]:
url = "https://raw.githubusercontent.com/davidyr23/Fisicacomputacional1/master/Actividad1/climatologiaBadiraguato.txt"

#Se nombran las columnas del df
columnas = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']

# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último (skiprows), afirmamos que no nay encabezado (header=None)
# Se procesan los datos utilizando Python, engine='python' 

df_badiraguato = pd.read_csv(url, names=columnas, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

print(df_badiraguato.head())
print(df_badiraguato.tail())

        Fecha Precip  Evap  Tmax  Tmin
0  01/01/1960      0  Nulo  Nulo  Nulo
1  02/01/1960      0  Nulo  Nulo  Nulo
2  03/01/1960      6  Nulo  Nulo  Nulo
3  04/01/1960     30  Nulo  Nulo  Nulo
4  05/01/1960      0  Nulo  Nulo  Nulo
            Fecha Precip  Evap Tmax Tmin
19178  26/04/2018      0  Nulo   41   14
19179  27/04/2018      0  Nulo   39   15
19180  28/04/2018      0  Nulo   36   16
19181  29/04/2018      0  Nulo   36   16
19182  30/04/2018      0  Nulo   37   13

Para observar la dimensión de los datos y obtener la información de los mismos, utilizamos las funciones **df.shape** y **df.info**, respectivamente.

In [5]:
#Observamos la dimensión de los datos
df_badiraguato.shape

#Ahora observamos la información de los datos
df_badiraguato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19183 entries, 0 to 19182
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19183 non-null  object
 1   Precip  19183 non-null  object
 2   Evap    19183 non-null  object
 3   Tmax    19183 non-null  object
 4   Tmin    19183 non-null  object
dtypes: object(5)
memory usage: 749.5+ KB

Desarrollaremos una copia de la base de datos original para trabajar con ella y no perder la original utilizando la función **df.copy**.

In [10]:
# Realizamos una copia de nuestra base de datos original para que no se pierda
df_copia=df_badiraguato.copy()
df_copia.head()

        Fecha Precip  Evap  Tmax  Tmin
0  01/01/1960      0  Nulo  Nulo  Nulo
1  02/01/1960      0  Nulo  Nulo  Nulo
2  03/01/1960      6  Nulo  Nulo  Nulo
3  04/01/1960     30  Nulo  Nulo  Nulo
4  05/01/1960      0  Nulo  Nulo  Nulo

Reemplazamos los textos que dicen "Nulo" de nuestra base de datos por espacios en blanco utilizando la función **df.replace**.

In [11]:
#Reemplazamos los textos que dicen 'Nulo' por espacios en blanco
str_Nulo = 'Nulo'
df_copia = df_copia.replace(to_replace=str_Nulo, value='', regex=True)
df_copia.head()

        Fecha Precip Evap Tmax Tmin
0  01/01/1960      0
1  02/01/1960      0
2  03/01/1960      6
3  04/01/1960     30
4  05/01/1960      0

Ahora imprimimos la información actualizada utilizando la función **df.info**.

In [12]:
#Se imprime la información actualizada del df
df_copia.info()
print(df_copia.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19183 entries, 0 to 19182
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19183 non-null  object
 1   Precip  19183 non-null  object
 2   Evap    19183 non-null  object
 3   Tmax    19183 non-null  object
 4   Tmin    19183 non-null  object
dtypes: object(5)
memory usage: 749.5+ KB
        Fecha Precip Evap Tmax Tmin
0  01/01/1960      0
1  02/01/1960      0
2  03/01/1960      6
3  04/01/1960     30
4  05/01/1960      0

Después, convertimos los datos de la base de datos a valores numéricos para trabajar con ellos, para eso utilizamos la función **pd.to_numeric**.

In [13]:
#Se procede a convertir los datos de la base de datos a valores numericos para poder trabajar con ellos
columnas = ['Precip', 'Evap', 'Tmax', 'Tmin']
for cols in columnas:
  df_copia[cols] = pd.to_numeric(df_copia[cols], errors="coerce")

df_copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19183 entries, 0 to 19182
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19183 non-null  object
 1   Precip  19138 non-null  float64
 2   Evap    9777 non-null   float64
 3   Tmax    18794 non-null  float64
 4   Tmin    18792 non-null  float64
dtypes: float64(4), object(1)
memory usage: 749.5+ KB

Para observar los datos que faltan utilizamos la función **df.isnull().sum()**.

In [14]:
#Observamos los datos que faltan
df_copia.isnull().sum()

Fecha        0
Precip      45
Evap      9406
Tmax       389
Tmin       391
dtype: int64

Imprimimos los primeros 5 renglones de la copia.

In [15]:
print(df_copia.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1960     0.0   NaN   NaN   NaN
1  02/01/1960     0.0   NaN   NaN   NaN
2  03/01/1960     6.0   NaN   NaN   NaN
3  04/01/1960    30.0   NaN   NaN   NaN
4  05/01/1960     0.0   NaN   NaN   NaN

Realizamos un análisis estadístico redondeando los valores numéricos a 2 cifras utilizando la función **df.describe.round(2)**.

In [16]:
#Análisis estadístico redondeando a 2 cifras
df_copia.describe().round(2)

         Precip     Evap      Tmax      Tmin
count  19138.00  9777.00  18794.00  18792.00
mean       2.58     5.10     33.65     15.50
std       10.28     2.67      4.12      6.79
min        0.00     0.00     13.50     -5.00
25%        0.00     3.10     31.00     10.00
50%        0.00     4.50     34.00     15.00
75%        0.00     7.10     36.00     22.50
max      335.00    16.00     47.00     30.00

Ahora realizamos una nueva copia de seguridad utilizando nuevamente la función **df.copy**.

In [17]:
#Nueva copia de seguridad
df_copiaseguridad = df_copia.copy()
df_copiaseguridad

            Fecha  Precip  Evap  Tmax  Tmin
0      01/01/1960     0.0   NaN   NaN   NaN
1      02/01/1960     0.0   NaN   NaN   NaN
2      03/01/1960     6.0   NaN   NaN   NaN
3      04/01/1960    30.0   NaN   NaN   NaN
4      05/01/1960     0.0   NaN   NaN   NaN
...           ...     ...   ...   ...   ...
19178  26/04/2018     0.0   NaN  41.0  14.0
19179  27/04/2018     0.0   NaN  39.0  15.0
19180  28/04/2018     0.0   NaN  36.0  16.0
19181  29/04/2018     0.0   NaN  36.0  16.0
19182  30/04/2018     0.0   NaN  37.0  13.0

[19183 rows x 5 columns]

Cambiamos el formato de la fecha de manera que en vez de aparecer como: "día/mes/año", nos aparecerá como: "año-mes-fecha", para eso utilizamos la función **pd.to_datetime**.

In [18]:
df_copiaseguridad["Fecha"] = pd.to_datetime(df_copiaseguridad["Fecha"], dayfirst=True ).copy()
print(df_copiaseguridad.head())

       Fecha  Precip  Evap  Tmax  Tmin
0 1960-01-01     0.0   NaN   NaN   NaN
1 1960-01-02     0.0   NaN   NaN   NaN
2 1960-01-03     6.0   NaN   NaN   NaN
3 1960-01-04    30.0   NaN   NaN   NaN
4 1960-01-05     0.0   NaN   NaN   NaN

Ahora, si queremos añadir las columnas de año y mes, utilizamos las funciones **df.dt.year** y **df.dt.month**, respectivamente.

In [20]:
#Se añaden las columnas de año y mes ademas de la de fecha
df_copiaseguridad["Año"] = df_copiaseguridad["Fecha"].dt.year
df_copiaseguridad["Mes"] = df_copiaseguridad["Fecha"].dt.month
df_copiaseguridad

           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0     1960-01-01     0.0   NaN   NaN   NaN  1960    1
1     1960-01-02     0.0   NaN   NaN   NaN  1960    1
2     1960-01-03     6.0   NaN   NaN   NaN  1960    1
3     1960-01-04    30.0   NaN   NaN   NaN  1960    1
4     1960-01-05     0.0   NaN   NaN   NaN  1960    1
...          ...     ...   ...   ...   ...   ...  ...
19178 2018-04-26     0.0   NaN  41.0  14.0  2018    4
19179 2018-04-27     0.0   NaN  39.0  15.0  2018    4
19180 2018-04-28     0.0   NaN  36.0  16.0  2018    4
19181 2018-04-29     0.0   NaN  36.0  16.0  2018    4
19182 2018-04-30     0.0   NaN  37.0  13.0  2018    4

[19183 rows x 7 columns]

In [21]:
# Para verificar
print(df_copiaseguridad.head())
print(df_copiaseguridad.tail())
print(df_copiaseguridad.dtypes)

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1960-01-01     0.0   NaN   NaN   NaN  1960    1
1 1960-01-02     0.0   NaN   NaN   NaN  1960    1
2 1960-01-03     6.0   NaN   NaN   NaN  1960    1
3 1960-01-04    30.0   NaN   NaN   NaN  1960    1
4 1960-01-05     0.0   NaN   NaN   NaN  1960    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
19178 2018-04-26     0.0   NaN  41.0  14.0  2018    4
19179 2018-04-27     0.0   NaN  39.0  15.0  2018    4
19180 2018-04-28     0.0   NaN  36.0  16.0  2018    4
19181 2018-04-29     0.0   NaN  36.0  16.0  2018    4
19182 2018-04-30     0.0   NaN  37.0  13.0  2018    4
Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
Año                int64
Mes                int64
dtype: object